/* 여백초기화 */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
button {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: "Noto Serif KR", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    /* overflow-x: hidden; */
}

#top {
    position: relative;
    overflow: hidden;
    height: 800px;
}

#header {
    width: 1440px;
    margin: 0 auto;
}

.nav {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb {
    justify-content: flex-end;
    display: flex;
    color: #fff;
    font-weight: 700;

}

.gnb li a {
    display: block;
    padding-left: 100px;
}

#banner {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
}

#banner video {

    object-fit: cover;
}

.banner_content {
    color: #fff;
    position: absolute;
    bottom: 100px;
    left: 240px;
    z-index: 9;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 2px 2px 10px #303030;
    border-bottom: 2px solid #fff;
}


#m_nav {
    display: none;
}

.img_tag {
    display: block;
}

#section1 {

    background-image: url(../images/bg.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.intro {
    margin: 0 auto;
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}

.intro_content {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    line-height: 30px;
    font-weight: 700;
}



#section2 {
    width: 1440px;
    margin: 0 auto;
}


.contentbox {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 100px 0;
    border-bottom: #303030 1px solid;
}

#section2 .contentbox:nth-child(4) {
    border: none;
}

.leftbox {
    width: 20%;
    text-align: center;
}

.rightbox {
    width: 80%;
    text-align: left;
}


.rightbox h2 {
    font-size: 48px;
    padding-bottom: 50px;
}

.rightbox h2 span {
    font-size: 36px;
}

.leftbox h2 span {
    font-size: 18px;
}

.rightbox ul {
    width: 80%;
    justify-content: space-between;
    display: flex;
    border-bottom: #aaa solid 1px;

}

.rightbox ul li {
    box-sizing: border-box;
    padding: 30px 0 30px 50px;
}

.rightbox ul li:nth-child(1) {
    width: 30%;
    font-weight: 800;

}

.rightbox ul li:nth-child(2) {
    width: 70%;

}

/* 기본 상태에서 요소는 숨김 */
.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* 요소가 보여질 때 적용되는 클래스 */
.show {
    opacity: 1;
    transform: translateY(0);
}


#section3 {
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    background-size: cover;
}

#section3 p {
    font-size: 50px;
    color: #fff;
    padding: 150px 0 0 50px;
    font-weight: 900;
    opacity: 0.8;
    box-sizing: border-box;
}

#section4 {
    background-color: #0e0e0e;
    padding: 100px 0;
}

.inner_section4 {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.trophy {
    margin: 0 auto;
    width: 300px;
    height: auto;
}

.trophy img {
    width: 100%;
}


.mclineup {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    /* 중앙 정렬 */
    align-items: center;
    /* 수직 중앙 정렬 */
    gap: 50px;
    /* 요소들 사이에 일정한 간격 추가 */
    color: #c2c2c2;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    /* 줄을 넘겨 배치 */
}


.mc_pic {
    margin: 100px 0;
    position: relative;
    width: 30vw;
    /* 화면 너비의 30% */
    height: 30vw;
    border-radius: 50%;
    background-image: linear-gradient(#fff, #fff),
        linear-gradient(to right, rgb(197, 106, 190) 0%, rgb(80, 102, 202) 100%);
    z-index: 8;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: 3px solid transparent;
    max-width: 480px;
    /* 최대 너비 제한 */
    min-width: 200px;
    /* 최소 너비 설정 */
}



.mc_img {
    border-radius: 50%;
    width: 100%;
    /* 부모의 100% 너비 */
    height: 100%;
    /* 부모의 100% 높이 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 1 / 1;
    /* 1:1 비율 유지 */

}

.mc_name {
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
}

.mc_name span {
    font-size: 24px;
}

.mc_img1 {
    background-image: url(../images/mc1.jpg);
}

.mc_img2 {
    background-image: url(../images/mc2.jpg);
}

.mc_img3 {
    background-image: url(../images/mc3.jpeg);
}


@keyframes scaleEffect {
    0% {
        transform: scale(1);
        /* 원래 크기 */
    }

    50% {
        transform: scale(0.8);
        /* 80%로 축소 */
    }

    100% {
        transform: scale(1);
        /* 다시 원래 크기 */
    }
}

/* 모든 트로피 이미지에 애니메이션 적용 */
.trophy img,
.m_footer_link .img_tag {
    animation: scaleEffect 20s ease-in-out infinite;
    /* 2초마다 자연스럽게 반복 */
}


/* 초기 상태: 요소가 투명 */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    /* 살짝 아래로 이동된 상태 */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* 보이는 상태: 요소가 원래 위치로 돌아오면서 불투명 */
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* mc_pic의 순차적 애니메이션을 위해 추가 */
.fade-in-left {
    opacity: 0;
    transform: translateX(-20px);
    /* 왼쪽으로 이동된 상태 */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-left.visible {
    opacity: 1;
    transform: translateX(0);
}


@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.mclineup_title {
    opacity: 0;
    animation: fadeInOut 10s ease-in-out infinite;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;

}


#section5 {
    width: 100%;
}


.nominated {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    height: 960px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.nomi1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)), url("../images/net1.jpg");
}

.nomi2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)), url("../images/tv3.jpg");
}

.nomi3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)), url("../images/wa1.jpg");
}


.nomi_logo {
    width: 30%;
    height: auto;
    box-sizing: border-box;
    margin-left: 50px;
}

.nomi_logo img {
    width: 100%;
    height: 100%;
}

.slide_wrap {
    width: 70%;
    box-sizing: border-box;
    /* 패딩 고려한 너비 계산 */
}

.slide_img {
    width: 100%;
    /* 슬라이드 부모 요소의 너비에 맞추기 */
    height: auto;
    /* 이미지 비율 유지 */
    max-width: 500px;
    /* 최대 300px로 제한 */
}

/* swiper */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 500px;

}

.swiper-slide img {
    display: block;
    width: 100%;
}



#footer {
    width: 100%;
    background-color: #080808;
}

.inner_footer {
 
    width: 1440px;
    margin: 0 auto;
    color: #fff;
    font-size: 12px;
}

.pc_footer{
    padding: 50px 0 80px 50px;
    box-sizing: border-box;
}

.footer_link {
    width: 100%;
    position: relative;
}

.footer_logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.footer_top {
    display: flex;
    align-items: center;
    font-weight: 100;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 20px;
    
}
.footer_top p{
    margin-right: 30px;
}


.footer_img {
    width: 50px;
    height: 30px;
}

.footer_img img {
    width: 100%;
    height: 100%;
}

.footer_icon {
    display: flex;
}

.footer_icon li a {
    display: block;
    padding-top: 10px;
    padding-right: 10px;
}

.inner_footer p {
    font-size: 10px;
    padding: 10px 0;
}

.m_footer {
    display: none;
}

.fixedbox_wrap {
    display: none;
}


@media (max-width: 1456px) and (min-width: 1442px) {
    body {
        overflow-x: hidden;
    }
    
}




@media (max-width: 1441px) {
    #header {
        width: 100%;
    }

    .intro {
        width: 100%;
    }
    #section2 {
        width: 100%;
    }
    #section3 {
        width: 100%;
    }
    .inner_section4 {
        width: 100%;

    }
    .inner_footer {

        width: 100%;

    }


}


@media (max-width: 1260px) {
    #top {
        width: 100%;
        height: 600px;
    }

    #header {
        width: 90%;
    }

    .gnb {
        display: none;
    }

    /* m_nav (모바일 메뉴 버튼) 보이기 */
    #m_nav {
        display: block;
    }

    /* 배너 콘텐츠 숨기기 */
    .banner_content {
        display: none;
    }

    /* 초기 스타일 */
    .m_menu {
        position: fixed;
        top: 0;
        right: -300px;
        /* 초기에는 화면 밖에 숨김 */
        width: 300px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        /* 흰색 배경에 투명도 50% */
        transition: right 0.5s ease;
        /* 오른쪽에서 나오는 애니메이션 */
        z-index: 2;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        /* 그림자 */
    }

    /* 메뉴가 열렸을 때 */
    .m_menu.open {
        right: 0;
        /* 화면 안으로 들어옴 */
    }

    .m_gnb {
        padding: 100px 0 0 50px;
        color: #fff;
    }

    .m_gnb li a {
        display: block;
        padding-bottom: 50px;
    }


    .open_mmenu img {
        cursor: pointer;
        width: 40px;
        height: auto;
    }

    #banner {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    #banner video {
        object-fit: fill;
    }


    #section1 {
        width: 100%;
        height: 500px;
    }

    .intro {
        width: 90%;
    }

    .intro_content {
        width: 100%;
    }

    #section2 {
        width: 100%;
    }

    .contentbox {
        width: 100%;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }


    .leftbox {
        width: 100%;
        text-align: center;
        position: relative;
        padding-bottom: 150px;

    }

    .leftbox::after {
        content: "";
        width: 1px;
        height: 100px;
        position: absolute;
        top: 80px;
        left: 50%;
        z-index: 99;
        background-color: rgba(34, 34, 34, 0.8);
    }

    .rightbox {
        width: 90%;
        text-align: center;
    }

    #section2 .contentbox:nth-child(4) .leftbox::after {
        content: none;
    }


    .rightbox ul {
        width: 100%;
        justify-content: center;
        align-items: center;
    }


    .rightbox ul li:nth-child(1) {
        width: 40%;
    }

    .rightbox ul li:nth-child(2) {
        text-align: left;
        width: 60%;
    }

    #section3 {
        width: 100%;
    }

    #section3 p {
        width: 80%;
        text-align: center;
        padding-top: 50px;
    }


    #section4 {
        width: 100%;
        padding-bottom: 100px;
        background-color: #d8d8d8;

    }

    .inner_section4 {
        width: 100%;
    }

    .trophy {
        display: none;
    }

    #section4 h2 {
        color: #080808;
    }

    .mclineup {
        width: 100%;
        justify-content: center;
        color: #c2c2c2;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .mc_pic {
        margin: 100px 0;
        position: relative;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        background-image: linear-gradient(#fff, #fff),
            linear-gradient(to right, rgb(197, 106, 190) 0%, rgb(80, 102, 202) 100%);
        z-index: 8;
        background-origin: border-box;
        background-clip: content-box, border-box;
        border: 3px solid transparent;

    }


    .mc_name {
        text-align: center;
        padding: 50px 0;
        font-size: 36px;
        color: #1b1b1b;
        font-weight: 800;
    }

    .mc_name span {
        font-size: 24px;
    }



    .nominated {
        width: 100%;
        height: 100%;
        justify-content: center;
        flex-wrap: wrap;
        padding: 100px 0;
        background-size: 1260px;

    }


    .nomi_logo {
        width: 500px;
    }

    .nomi_logo img {
        width: 100%;
        padding-left: 0;
        height: 100%;
    }

    .slide_wrap {
        width: 100%;
        padding-top: 0;
    }

    .slide_img {
        width: 100%;
        max-width: 100%;
        /* 최대 너비 제한 제거 */
        height: auto;
    }



    .pc_footer {
        display: none;
    }

    .inner_footer {
        width: 100%;
    }

    .m_footer {

        display: block;

    }

    .m_footer_link {
        padding: 100px 0 50px;

        text-align: center;
    }

    .m_footer_link li:nth-child(1) {
        width: 300px;
        margin: 0 auto;


    }

    .m_footer_link li:nth-child(1) img {
        width: 100%;
    }

    .m_footer_link li:nth-child(2) {
        font-size: 24px;
        font-weight: 900;
        padding: 20px 0;
    }

    .m_footer_link li:nth-child(4) {
        font-size: 10px;
        padding-top: 50px;
    }

    .fixedbox_wrap {
        font-size: 10px;
        display: block;
        z-index: 99;
        position: fixed;
        bottom: 0;
        /* 화면의 아래에 고정 */
        left: 0;
        width: 100%;
        /* 화면의 전체 가로 길이 차지 */
        height: 50px;
        background-color: rgba(31, 31, 31, 0.8);
        color: white;
        padding: 15px 0;
        border-radius: 20px;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
        /* 박스 상단 그림자 효과 */
    }



    .fixedbox {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .followbox {
        display: flex;
        justify-content: end;
        text-align: center;
        border-radius: 30px;
        background-color: #473861;
    }

    .followbox a {
        padding: 10px 50px;
        font-weight: 900;
    }


    .fixedbox li:first-child {
        margin-left: 30px;
    }

    .fixedbox li:nth-child(3) {
        margin-right: 30px;
    }

    .fixedbox li:first-child,
    .fixedbox li:nth-child(2) {
        margin-right: 10px;
        /* 첫 번째와 두 번째 li 간 여백 조절 */
    }

    .fixedbox li:nth-child(2) {
        flex-grow: 1;
        /* 두 번째 li가 가운데 영역을 차지 */
        text-align: left;
        /* 두 번째 li 텍스트 왼쪽 정렬 */
    }



    .fixedbox img {
        max-width: 50px;
        /* 아이콘 크기 조절 */
        height: auto;
    }


}


/* mobile 600px 이하 */
@media (max-width:600px) {


    #banner {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    #banner video {

        object-fit: fill;
    }

    /* 초기 스타일 */
    .m_menu {
        position: fixed;
        top: 0;
        right: -300px;
        /* 초기에는 화면 밖에 숨김 */
        width: 200px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        /* 흰색 배경에 투명도 50% */
        transition: right 0.5s ease;
        /* 오른쪽에서 나오는 애니메이션 */
        z-index: 2;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        /* 그림자 */
    }

    #section1 {
        width: 100%;
        height: 500px;
    }

    .intro {
        width: 90%;
    }

    .intro_content {
        width: 90%;
        font-size: 14px;
        line-height: 24px;
    }

    .title {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    .title img {
        display: block;
        width: 100%;
    }

    .rightbox h2 {
        font-size: 36px;
    }

    .rightbox p {

        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
    }

    .rightbox h2 span {
        font-size: 24px;
    }

    .leftbox h2 span {
        font-size: 12px;
    }

    .rightbox ul {
        font-size: 14px;

    }
    #section3 p{
        padding-top: 50px;
    }



    .mc_pic {
        margin: 100px 0;
        position: relative;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background-image: linear-gradient(#fff, #fff),
            linear-gradient(to right, rgb(197, 106, 190) 0%, rgb(80, 102, 202) 100%);
        z-index: 8;
        background-origin: border-box;
        background-clip: content-box, border-box;
        border: 3px solid transparent;
    }

    .mc_img {

        width: 300px;
        height: 300px;
    }







    .fixedbox_wrap {
        height: 50px;
        font-size: 10px;
    }


}
